<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="GMap.NET.Windows" version="1.9.2" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.RawInput" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net461" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net461" />
  <package id="SlimDX.D3D11Control" version="1.0.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net461" />
  <package id="Zeroit.Framework.Gauges" version="1.0.0" targetFramework="net461" />
</packages>